<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Course Form </h1>
<form action="#" th:action="@{/process}" th:object="${course}" method="post">
<input type="hidden" th:field="*{id}" />
Title :<input type="text" th:field="*{year}" />}
<span th:if="${#fields.hasErrors('year')}"
th:errors= "*{year}"></span><br />
Make :<input type="text" th:field="*{make}" />
    <span th:if="${#fields.hasErrors('make')}"

          th:errors="*{make}"> </span><br />
  Description :<label>
    <textarea rows="3" th:field="*{description}"></textarea>
</label>
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"> </span><br />

    Credits :<input type="text" th:field="*{credit}" />
    <span th:if="${#fields.hasErrors('credit')}"
          th:errors="*{credit}"> </span><br />
    <br />
    <input type="submit" value="Submit" />
</form>
</body>
</html>